<nav class="navbar navbar-expand text-bg-dark mb-2 navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerlink="/" routerLinkActive="active">HTTP</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
        </li>
        <!-- <li>
          <a class="nav-link" routerLinkActive="active" routerLink="/cursos"
            >Cursos</a
          >
        </li> -->
        <li>
          <a class="nav-link" routerLinkActive="active" routerLink="/rxjs-poc"
            >RxJS POC</a
          >
        </li>
        <!-- <li>
          <a class="nav-link" routerLinkActive="active" routerLink="/upload"
            >Upload de arquivo</a
          >
        </li> -->
        <li>
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/reactive-search"
            >Busca reativa</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
