<div class="container">
  <h3>Style binding</h3>
  <div class="mb-2">
    <button
      (click)="toggleActive()"
      [style.fontWeight]="ativo ? 'bold' : 'normal'"
      [style.backgroundColor]="ativo ? 'blue' : 'white'"
      [style.color]="ativo ? 'white' : 'black'"
      [style.fontSize]="tamanhoFonte + 'px'"
    >
      Clique aqui
    </button>
    <div class="mt-2">
      <input type="text" [(ngModel)]="tamanhoFonte" />
    </div>
  </div>
  <h3>ngStyle</h3>
  <div class="mb-2">
    <button
      (click)="toggleActive()"
      [ngStyle]="{
        fontWeight: ativo ? 'bold' : 'normal',
        backgroundColor: ativo ? 'blue' : 'white',
        color: ativo ? 'white' : 'black',
        fontSize: tamanhoFonte + 'px'
      }"
    >
      Clique aqui
    </button>
  </div>
</div>
